@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box; color:#333;}
::-moz-selection {
    background: #c9ab81;
    color: #fff;
 }
 ::selection {
    background: #c9ab81;
    color: #fff;
 }
ol,ul,li {list-style-type:none;}
a {text-decoration:none; color:#333;}
.sub_text {
    color:#c9ab81;
    font-family:'EB Garamond', serif;
    font-style:italic;
    font-weight:500;
    font-size:20px;
}



/* header */
header {
    width:100%;
    height:100vh;
    background-image:url(../img/dalton\(20\).jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
}

nav {
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
}

.left_nav {
    width:600px;
    height:100px;
    display:flex;
    align-items:center;
    font-weight:500;
}
.left_nav img {
    width:80px;
    height:80px;
    margin-left:20px;
}
.left_list {
    width:500px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.right_nav {
    width:400px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.right_nav button {
    border:1.9px solid #333;
    padding:15px 40px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.right_nav button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}
.right_nav img {
    width:20px;
    height:20px;
}

.main_text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70%;
    text-align:center;
    font-family:'EB Garamond', serif;
}

.main_text h1 {
    font-size:80px;
}

.main_text button {
    border:1.9px solid #333;
    padding:15px 40px;
    margin-top:30px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.main_text button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}




/* section1 */
.section1 {
    width:100%;
    height:100vh;
    display:flex;
    background-color:#fff;
}

.box {
    width:1320px;
    height:100vh;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    text-align:center;
    padding-top:90px;
}

.textbox {
    padding:50px;
}
.textbox h2 {
    font-size:48px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}

.museum {
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.museum>div {
    width:33%;
    text-align:left;
    padding:20px;
    line-height:25px;
}
.museum_center img {
    width:100%;
}
.museum_right button {
    border:1.9px solid #c9ab81;
    padding:15px 40px;
    margin-top:30px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.museum_right button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}




/* section2 */
.section2 {
    width:100%;
    height:auto;
    display:flex;
}

.section2>div {
    width:50%;
}

.textbox2 {
    text-align:left;
    padding:8% 12%;
    background-color:#f8f8f8;
}
.textbox2 h2 {
    font-size:50px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}
.textbox2 p {
    line-height:25px;
    margin-top:20px;
}
.textbox2 button {
    border:1.9px solid #c9ab81;
    padding:15px 40px;
    margin-top:30px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.textbox2 button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}

.art_img {
    background-image:url(../img/dalton\(1\).jpg);
    background-repeat:no-repeat;
    background-size:cover;
}




/* section3 */
.section3 {
    width:100%;
    height:100vh;
    background-color:#fff;
}

.slide_plate {
    text-align:center;
    padding-top:90px;
}
.textbox3 {
    padding:50px;
    margin-bottom:30px;
}
.textbox3 h2 {
    font-size:50px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}

.slide_button {
    width:1400px;
    margin:0 auto;
    display:flex;
    align-items:center;
}
.slidebutton_left, .slidebutton_right {
    font-size:50px;
    cursor:pointer;
    padding-bottom:130px;
}

.slide_img {
    width:1320px;
    height:600px;
    margin:0 auto;
    overflow:hidden;
}
.slide_width {
    width:3300px;
    display:flex;
    justify-content:space-around;
}
.slide_width .art {
    width:300px;
    height:450px;
    position:relative;
}
.margin {
    margin-top:30px;
    transition:all 0.3 ease;
}

.art_picture {
    width:300px;
    height:450px;
    overflow:hidden;
}
.art_picture img {
    width:100%;
    height:100%;
    position:relative;
    transition:all 0.5s ease;
}
.art_picture img:hover {
    transform:scale(1.08) translateX(10px);
}

.artbox {
    width:260px;
    background-color:#fff;
    text-align:left;
    padding:30px 48px 30px 10px;
    position:absolute;
    bottom:-70px;
}
.artbox .sub_text {
    font-size:16px;
}
.artbox h3 {
    margin-top:15px;
    line-height:28px;
    font-family:'EB Garamond', serif;
    font-weight:500;
}




/* section4 */
.section4 {
    width:100%;
    height:620px;
    background-image:url(../img/dalton\(17\).jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
}

.textbox4 {
    width:600px;
    padding:60px 20% 60px 30px;
    background-color:#fff;
    position:absolute;
    top:50%;
    right:8%;
    transform:translate(0,-50%);
    line-height:25px;
    font-weight:500;
    font-family:'EB Garamond', serif;
}
.textbox4 p:first-child {
    font-size:18px;
}
.textbox4 p:last-child {
    font-size:14px;
    margin-top:15px;
}




/* section5 */
.section5 {
    width:100%;
    height:auto;
    background-color:#fff;
}

.textbox5 {
    padding:50px;
    text-align:center;
    padding-top:140px;
    margin-bottom:30px;
}
.textbox5 h2 {
    font-size:48px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}
.textbox5 p {
    margin-top:10px;
    line-height:1.85em;
}

.readings {
    width:1340px;
    height:auto;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}

.artpicture {
    width:560px;
    height:740px;
    margin-bottom:150px;
}
.artpicture img {
    width:100%;
    height:100%;
}

.textbox6 {
    width:560px;
    height:740px;
    padding:15% 15%;
    line-height:1.58em;
    text-align:justify;
    margin-bottom:150px;
}
.textbox6 h2 {
    font-weight:500;
    font-family:'EB Garamond', serif;
    font-size:40px;
    margin:20px 0;
}

.leftside {
    border-right:1px solid #333;
    width:670px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rightside {
    width:670px;
    display:flex;
    flex-direction:column;
    align-items:center;
}




/* section6 */
.section6 {
    width:100%;
    height:90vh;
    background-image:url(../img/dalton\(12\).jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.news {
    width:1300px;
    height:540px;
    background-color:#fff;
    display:flex;
}

.leftnews {
    width:650px;
    padding:8% 10%;
    line-height:1.85em;
}
.textbox7 h2 {
    font-weight:500;
    font-family:'EB Garamond', serif;
    font-size:40px;
    margin:20px 0;
    letter-spacing:8px;
}

.rightnews {
    width:650px;
    padding:12% 2%;
}
.rightnews input {
    border:none;
    border-bottom:1px solid #333;
    width:450px;
    margin-bottom:45px;
    font-size:15px;
    padding:5px;
    cursor:pointer;
}
.rightnews button {
    border:1.9px solid #c9ab81;
    padding:15px 40px;
    margin-top:20px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.rightnews button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}




/* section7 */
.section7 {
    width:100%;
    background-color:#fff;
}

.Museum_news {
    width:1300px;
    margin:0 auto;
    padding:160px 0;
}

.CURATED {
    width:100%;
    height:340px;
    line-height:1.85em;
    display:flex;
}
.CURATED .left_visits {
    width:50%;
}
.CURATED .left_visits h2{
    font-size:48px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    margin:20px 0;
    letter-spacing:8px;
}
.CURATED .right_visits {
    padding-top:100px;
    width:50%;
}

.bigimg img {
    width:1300px;
    height:500px;
}




/* section8 */
.section8 {
    width:100%;
    height:1280px;
    background-color:#f8f8f8;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.textbox8 {
    text-align:center;
    padding-top:160px;
    padding-bottom:80px;
}
.textbox8 h2 {
    font-size:48px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}


.posts {
    width:1300px;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.poster_list {
    position:relative;
}
.poster_img {
    width:410px;
    height:600px;
    cursor:pointer;
    overflow:hidden;
}
.poster_img img:hover {
    transform:scale(1.07) translateX(10px);
}
.poster_img img {
    width:100%;
    height:100%;
    transition:all 0.5s ease;
}

.poster_text {
    width:350px;
    height:130px;
    background:#f8f8f8;
    padding:15px 40px 10px 0;
    line-height:30px;
    position:absolute;
    z-index:3;
    bottom:-55px;
}
.poster_text .sub_text {
    font-size:16px;
}
.poster_text p {
    font-size:23px;
    letter-spacing:3px;
    font-family: 'EB Garamond', serif;
}
.poster_text p a {
    transition:all 0.3s ease;
}
.poster_text p a:hover {
    color:#c9ab81
}

.poster_ex {
    width:410px;
    line-height:1.85em;
    padding-top:50px;
    background-color:#f8f8f8;
    font-size:16px;
}





/* section9 */
.section9 {
    width:100%;
    height:100vh;
    background-color:#fff;
}

.textbox9 {
    padding:50px;
    text-align:center;
    padding-top:140px;
    margin-bottom:30px;
}
.textbox9 h2 {
    font-size:48px;
    font-weight:500;
    font-family:'EB Garamond', serif;
    letter-spacing:8px;
}
.textbox9 p {
    margin-top:10px;
    line-height:1.85em;
}


.products {
    width:1300px;
    height:450px;
    margin:0 auto;
    overflow:hidden;
}
.prod_slide {
    width:2930px;
    height:450px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.shop_prod {
    width:300px;
    height:450px;
    background-color:#fff;
}
.prod_img {
    width:300px;
    height:300px;
    position:relative;
}
.prod_img img {
    width:100%;
    height:100%;
}
.prod_text {
    text-align:center;
    width:300px;
    height:150px;
    padding-top:20px;
    font-family:'EB Garamond', serif;
    line-height:35px;
}
.prod_text h4 {
    font-weight:400;
    font-size:22px;
    letter-spacing:3px;
    transition:all 0.3s ease;
}
.prod_text h4:hover {
    color:#c9ab81
}
.prod_text p i {
    font-size:11px;
    color:#c9ab81
}
.prod_text span {
    font-size:22px;
}

.add_cart {
    width:260px;
    height:260px;
    background-color:#fff;
    position:absolute;
    top:20px;
    left:20px;
    display:none;
}
.add_cart button {
    border:1.9px solid #c9ab81;
    padding:15px 40px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
    margin-top:50%;
    transform:translateY(-50%);
    margin-left:20%;
}
.add_cart button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}




/* section10 */
.section10 {
    width:100%;
    height:90vh;
    background-image:url(../img/dalton\(12\).jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.get_in {
    width:1300px;
    height:540px;
    background-color:#fff;
    display:flex;
}

.touch {
    width:650px;
    padding:10% 10%;
    line-height:1.85em;
}
.textbox10 h2 {
    font-weight:500;
    font-family:'EB Garamond', serif;
    font-size:40px;
    margin:20px 0;
    letter-spacing:8px;
}
.textbox10 p {
    font-family: 'Alegreya Sans', sans-serif;
    margin-top:10px;
    font-size:17px;
}
.textbox10 a {
    font-size:17px;
    transition:all 0.3s ease;
}
.textbox10 i {
    font-size:17px;
    margin:20px 15px 0 0 ;
    transition:all 0.3s ease;
}
.textbox10 a:hover {
    color:#c9ab81;
}
.textbox10 a i:hover {
    color:#c9ab81;
}

.contact_input {
    width:650px;
    padding:12% 2%;
}
.contact_input textarea {
    display:block;
    width:460px;
    border:none;
    border-bottom:1px solid #333;
    margin-bottom:45px;
    padding:5px;
    font-family: 'Alegreya Sans', sans-serif;
    cursor:pointer;
}
.contact_input input {
    border:none;
    border-bottom:1px solid #333;
    width:220px;
    margin-right:20px;
    margin-bottom:45px;
    font-size:15px;
    padding:5px;
    cursor:pointer;
    font-family: 'Alegreya Sans', sans-serif;
}
.contact_input button {
    border:1.9px solid #c9ab81;
    padding:15px 40px;
    margin-top:20px;
    font-size:14px;
    background-color:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
}
.contact_input button:hover {
    border:1.9px solid #fff;
    background-color:#c9ab81;
    color:#fff;
    opacity:0.8;
}




/* footer */
footer {
    width:100%;
    height:437px;
    background-color:#272727;
    position:sticky;
    bottom:0;
    left:0;
}
footer p {
    color:#fff;
}
footer a {
    color:#fff;
    transition:all 0.3s ease;
}
footer a:hover {
    color:#c9ab81;
}

.footer_banner {
    width:1300px;
    height:437px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-family: 'Alegreya Sans', sans-serif;
}
.footer_banner div {
    font-size:17px;
}
.footer_banner div h6 {
    font-size:17px;
    margin-bottom:25px;
    font-weight:400;
    color:#fff;
}
.footer_banner div p {
    margin-bottom:20px;
}

.banner1 img {
    width:52px;
    height:46px;
    margin-bottom:20px;
}
